@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* Navbar */
.brand {
  font-family: "Pacifico", cursive;
}

/* Password Icon */
.pw-icon {
  margin-left: 5px;
  cursor: pointer;
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Stories */
.stories__container {
  height: 3rem;
  display: flex;
  margin-bottom: 2rem;
  overflow-x: scroll;
}

.profile__story {
  margin-right: 1.5rem;
}
